body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
}
.navbar li {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: #1f2937;
  display: flex;
  margin-bottom: 0;
}

.navbar-right {
  margin-right: 0;
  margin-left: auto;
  width: 40%;
  padding: 0 10vw 0 0;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.navbar li a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
  font-weight: 200;
}

#logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #f9faf8;
  padding: 0 0 0 10vw;
}

#logo {
  align-self: center;
}

.hero {
  background-color: #1f2937;
  padding: 2vw 10vw 0 10vw;
  display: flex;
}

h1 {
  margin: 0;
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.hero p {
  color: #e5e7eb;
  font-size: 18px;
}

#hero-signup {
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 18px;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
}

#hero-signup:hover {
  background-color: #3881f6ad;
}

#hero-message {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 0 5vw 0 0;
  align-items: flex-start;
}

#hero-image {
  width: 60%;
  display: inline-block;
  padding: 0 5vw 0 5vw;
  display: flex;
  justify-content: flex-start;
}

img {
  max-width: 100%;
  max-height: 80%;
  align-self: baseline;
}
